.player-select {
	height: 500px;
	margin: 1rem 0 1rem 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	gap: 4rem;
	justify-content: center;
	align-items: center;
}
.player-select-box {
	cursor: pointer;
	height: 350px;
	width: 250px;
	border-radius: 10px;
	position: relative;
	background-color: rgb(15, 15, 15);
	/* background-color: #1d1d1d; */
	transition: 0.5s ease-in-out;
}

.player-select-gender {
	width: 100%;
	position: absolute;
	margin-bottom: 15px;
	bottom: 0;
	transition: 0.5s ease-in-out;
}
.player-select-image {
	/* border: 2px solid red; */
	margin-top: 10px;
	transition: 0.5s ease-in-out;
	transform-style: preserve-3d;
	position: relative;
	perspective: 1000px;
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	backface-visibility: hidden;
}

.flip-card-front {
	width: 100%;
}

.flip-card-back {
	transform: rotateY(-180deg);
	color: white;
	padding: 15px;
	font-family: monospace;
}

.back-title {
	font-size: 30px;
	margin-bottom: 20px;
}
.boy-image {
	width: 150px;
}

.girl-image {
	width: 137px;
}
.btn-grp {
	display: flex;
	flex-direction: row;
	gap: 60%;
}
.button-div {
	display: flex;
	padding-right: 20px;
	padding-top: 10px;
	justify-content: flex-end;
	opacity: 0;
	transition: 0.5s ease-in-out;
}

.flip-button {
	all: unset;
	background-color: transparent;
	cursor: pointer;
	z-index: 999;
}
/* SVG gender styling */

/* 
  .player-select-box:hover .player-select-image,
  .player-select-box:hover .player-select-gender {
    transform: scale(0.9);
  } */

.player-select-box:hover {
	transform: scale(1.1);
}

.player-select-box:hover .button-div {
	opacity: 1;
}

.flipped {
	transform: rotateY(-180deg);
}

#male path,
#female path {
	transition: 0.1s ease-in-out;
}

.svg-text {
	transition: 0.5s all;
	fill: transparent;
}

.player-select-box:hover .svg-text {
	fill: white;
}

#male path:nth-child(1) {
	/* M */
	stroke-dasharray: 186;
	stroke-dashoffset: 186;
	animation: stroke-anim 2s ease forwards 0.3s;
}
#male path:nth-child(2) {
	/* E */
	stroke-dasharray: 120;
	stroke-dashoffset: 120;
	animation: stroke-anim 2s ease forwards 1.2s;
}
#male path:nth-child(3) {
	/* A */
	stroke-dasharray: 121px;
	stroke-dashoffset: 121px;
	animation: stroke-anim 2s ease forwards 0.6s;
}
#male path:nth-child(4) {
	/* L */
	stroke-dasharray: 79px;
	stroke-dashoffset: 79px;
	animation: stroke-anim 2s ease forwards 0.9s;
}

.image-animate {
	animation: fade-in 2s;
}

@keyframes stroke-anim {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#female path:nth-child(1) {
	/* M */
	stroke-dasharray: 186;
	stroke-dashoffset: 186;
	animation: stroke-anim 2s ease forwards 0.6s;
}
#female path:nth-child(2) {
	/* last E */
	stroke-dasharray: 120;
	stroke-dashoffset: 120;
	animation: stroke-anim 2s ease forwards 1.2s;
}
#female path:nth-child(3) {
	/* first E */
	stroke-dasharray: 120;
	stroke-dashoffset: 120;
	animation: stroke-anim 2s ease forwards 0.4s;
}
#female path:nth-child(4) {
	/* F */

	stroke-dasharray: 101px;
	stroke-dashoffset: 101px;
	animation: stroke-anim 2s ease forwards 0.2s;
}
#female path:nth-child(5) {
	/* A */
	stroke-dasharray: 121px;
	stroke-dashoffset: 121px;
	animation: stroke-anim 2s ease forwards 0.8s;
}
#female path:nth-child(6) {
	/* L */
	stroke-dasharray: 79px;
	stroke-dashoffset: 79px;
	animation: stroke-anim 2s ease forwards 1s;
}

/* SVG end */
.crypto-main {
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
}
.crypto-select {
	border: 6px solid black;
	background-color: black;
	display: grid;
	grid-gap: 10px 5px;
	border-radius: 10px;
}
.crypto-button {
	all: unset;
	width: 85px;
	font-size: 20px;
	color: #000000;
	font-family: monospace;
	height: 100px;
	margin: auto;
	background-color: #1d1d1d;
	box-shadow: 0px 15px 8px 2px rgba(0, 0, 0, 0.5),
		inset 0px 3px 5px -3px rgba(255, 255, 255, 0.295);
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.3s all;
	cursor: pointer;
}

.crypto-button:hover {
	background-color: #1a1a1a;
	box-shadow: 0px 10px 8px 2px rgba(0, 0, 0, 0.5),
		inset 0px 5px 5px -3px rgba(255, 255, 255, 0.295);
}

.crypto-logo {
	margin-bottom: 5px;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.crypto-name {
	margin-top: 5px;
	transition: 0.3s all;
	color: #555;
}
.crypto-logo-image {
	height: 35px;
	filter: grayscale(100%) opacity(30%) drop-shadow(0 0 0px #00000000);
	transition: 0.4s all;
}

.button-press {
	background-color: rgb(15, 15, 15);
	/* color: #62a89f; */
	box-shadow: inset 0px 0px 5px 0px black;
	/* text-shadow: #94fdef 0px 0 20px; */
}

.button-press:hover {
	background-color: rgb(15, 15, 15);
	/* color: #62a89f; */
	box-shadow: inset 0px 0px 5px 0px black;
	/* text-shadow: #94fdef 0px 0 20px; */
}

/* individual logo styling  */

.button-press #name-busd,
.button-press:hover #name-busd {
	color: #f0b90b;
	text-shadow: #ffd95d 0px 0 20px;
}

.button-press #img-busd {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 15px #f0b90b);
}

.button-press #name-dai,
.button-press:hover #name-dai {
	color: #febe44;
	text-shadow: #f8c76c 0px 0 20px;
}

.button-press #img-dai {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 10px #febd44a1);
}

.button-press #name-eth,
.button-press:hover #name-eth {
	color: #8c8c8c;
	text-shadow: #cacaca 0px 0 20px;
}

.button-press #img-eth {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 10px #cacaca9a);
}

.button-press #name-link,
.button-press:hover #name-link {
	color: #2a5ada;
	text-shadow: #6183c9 0px 0 20px;
}

.button-press #img-link {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 15px #2a5ada);
}

.button-press #name-one,
.button-press:hover #name-one {
	color: #2accd7;
	text-shadow: #69fabd 0px 0 20px;
}

.button-press #img-one {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 15px #2accd7);
}

.button-press #name-sushi,
.button-press:hover #name-sushi {
	color: #fa52a0;
	text-shadow: #fa52a0 0px 0 20px;
}

.button-press #img-sushi {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 10px #fa52a0d5);
}

.button-press #name-usdc,
.button-press:hover #name-usdc {
	color: #2775ca;
	text-shadow: #5294db 0px 0 20px;
}

.button-press #img-usdc {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 15px #2776caa6);
}

.button-press #name-usdt,
.button-press:hover #name-usdt {
	color: #62a89f;
	text-shadow: #27d3a2 0px 0 20px;
}

.button-press #img-usdt {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 15px #62a89fc2);
}

.button-press #name-wbtc,
.button-press:hover #name-wbtc {
	color: #f09242;
	text-shadow: #f09242 0px 0 20px;
}

.button-press #img-wbtc {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 15px #f09242);
}

.button-press #name-dsla,
.button-press:hover #name-dsla {
	color: #2196f3;
	text-shadow: #2196f3 0px 0 20px;
}

.button-press #img-dsla {
	filter: grayscale(0%) opacity(100%) drop-shadow(0 0 15px #2195f3ab);
}

#img-wbtc {
	height: 40px;
}
/* individual styling end */

#grid-1 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	border-radius: 10px 0 0 10px;
}

#grid-2 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

#grid-3 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
}

#grid-4 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 4;
	grid-column-end: 5;
}

#grid-5 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 5;
	grid-column-end: 6;
}

#grid-6 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 6;
	grid-column-end: 7;
}

#grid-7 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 7;
	grid-column-end: 8;
}

#grid-8 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 8;
	grid-column-end: 9;
}

#grid-9 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 9;
	grid-column-end: 10;
}

#grid-10 {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 10;
	grid-column-end: 11;
	border-radius: 0 10px 10px 0;
}
