:root {
  --soft: inset 5px 5px 10px #0e0e0e, inset -10px -10px 10px #252525;
}

.chardisp-main {
  width: 900px;
  margin: 20px auto 20px auto;
  height: 250px;
  border: 2px solid #62a89f85;
  border-radius: 10px;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(4, 21%);
}

.chardisp-img {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 5px 0;
  border-radius: 10px;
  box-shadow: var(--soft);
}

.list-image {
  height: 100%;
}

.list-heart {
  width: 50px;
  margin: 1px;
}
.list-token-contain {
  width: 50px;
  height: 50px;
}

.chardisp-name {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: var(--soft);
}

.chardisp-age {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: var(--soft);
}

.chardisp-token {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--soft);
}
.list-token {
  height: 100%;
  max-width: 100%;
}

.list-token-name {
  margin-left: 10px;
  height: 50px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 25px;
  color: #fff;
}

.chardisp-gender {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: var(--soft);
}

.chardisp-health {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--soft);
}

.chardisp-hunger {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 6;
  grid-column-end: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--soft);
}

.hunger-percent {
  color: white;
  font-family: monospace;
  margin-right: 15px;
  font-size: 15px;
}

.chardisp-hunstat {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--soft);
}
.hunger-stat {
  font-family: monospace;
  font-size: 18px;
  color: white;
}
.hunger-stat-img {
  width: 40px;
}

.health-stat {
  font-family: monospace;
  font-size: 18px;
  color: white;
}

.health-stat-img {
  width: 40px;
}

.chardisp-feed {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 9;
  grid-column-end: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--soft);
}

.chardisp-helstat {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--soft);
}

.chardisp-hospital {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 9;
  grid-column-end: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: var(--soft);
}
