.mating-container {
  display: grid;
  height: 100vh;
}
.mating-master {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 4rem;
}
.grid-item {
  border: solid red;
  height: 600px;
}
.mating-chars {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  overflow: auto;
}

.mating-area {
  border: solid red;
  height: 300px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  margin-top: 30%;
  padding: 0px 50px;
}
.mating-final {
  border: solid red;

  align-self: center;
  align-items: center;
  justify-self: center;
}
.plus-sign {
  color: white;
  font-size: 4rem;
  justify-self: center;
}
.mating-product {
  border: solid red;
  height: 300px;
  margin: auto;
  margin-top: 30%;
}
