.mating-container {
	display: grid;
	height: 100vh;
}
.mating-master {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 4rem;
  gap: 10px;
}
.grid-item {
  /* border: 2px solid #62a89f85; */
  box-shadow: var(--soft);
  border-radius: 10px;
  height: 600px;
}
.mating-chars {
  display: flex;
  padding: 10px;
  justify-content: center;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  gap: 10px;
  flex-wrap: wrap;
  overflow: auto;

}

.grid-flex-parent{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: fit-content;
  margin-top: 30px;
}

.mating-area {
  height: 50%;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  padding: 0px 50px;
  border: 2px solid #62a89f85;
}
.mating-final {
	align-self: center;
	align-items: center;
	justify-self: center;
}
.plus-sign {
  justify-self: center;
  width: fit-content;

}
.mating-product-container {
  border: 2px solid #62a89f85;
  height: 50%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mating-product {
  border-radius: 10px;
  box-shadow: var(--soft);
  width: fit-content;
}
